<div class="header-bar">
            <!-- Contact -->
            <div class="info-top-grid">
                <div class="info-contact-agile">
                    <ul>
                        <li>
                            <span class="fas fa-phone-volume"></span>
                            <p>+(000)123 4565 32</p>
                        </li>
                        <li>
                            <span class="fas fa-envelope"></span>
                            <p><a href="mailto:info@example.com">info@example1.com</a></p>
                        </li>
                        <li>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Top header -->

            <nav class="navbar navbar-expand-lg navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
                <!-- Hết Top  -->
                <!-- Bot header -->
                <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                    <ul class="navbar-nav ">
                        <ul class="nav-item active">
                            <a class="navbar-brand" href="index.html">Toys-Shop</a>
                        </ul>
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="about.html" class="nav-link">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="service.html" class="nav-link">Service</a>
                        </li>
                        <li class="nav-item">
                            <a href="shop.html" class="nav-link">Shop Now</a>
                        </li>

                        <li class="nav-item">
                            <a href="shop.html" class="nav-link">Product</a>
                        </li>
                        <li class="nav-item">
                            <a href="contact.html" class="nav-link">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- Hết Bot  -->
            </nav>
        </div>